<!-- first -->
<script type="text/javascript">

    $(document).ready(function () {

        $(".tab_content").hide();
       // $(".tab_content:first").show();

        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");
            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();
        });
    });

</script>

<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"> </li>
  <li id="customers" ui-sref-active="active"> <a ui-sref="app.calendar"> <i class="glyphicon glyphicon-calendar icon text-info-dker"></i> <span class="font-bold" translate="aside.nav.CUSTOMERS">Customers</span> </a>
    <div class="tabs-full-box">
      <div class="left-arrow"></div>
      <ul class="tabs">
        <li class="active" rel="tab1">Customer</li>
        <li rel="tab2">Bid</li>
      </ul>
      <div class="tab_container">
        <div id="tab1" class="tab_content">
          <h1>Customer</h1>
          <p>
            <button class="btn m-b-xs w-xs btn-info"  ui-sref="app.customer">Add Customer</button>
          </p>
        </div>
        <div id="tab2" class="tab_content">
          <h1>Sample 2</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
      </div>
    </div>
  </li>
  <li id="customers" ui-sref-active="active"> <a ui-sref="app.mail.list"> <b class="badge bg-info pull-right"></b> <i class="glyphicon glyphicon-envelope icon text-info-lter"></i> <span class="font-bold" translate="aside.nav.WELLS">Wells</span> </a>
    <div class="tabs-full-box">
      <div class="left-arrow"></div>
      <ul class="tabs">
        <li class="active" rel="tab3">Wells</li>
        <li rel="tab4">Disposal Sites</li>
      </ul>
      <div class="tab_container">
        <div id="tab3" class="tab_content">
          <h1>Wells</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab4" class="tab_content">
          <h1>Disposal Sites</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
      </div>
    </div>
  </li>
  <li id="customers" ui-sref-active="active"> <a ui-sref="app.widgets"> <b class="badge bg-success dk pull-right"></b> <i class="glyphicon glyphicon-th-large icon text-success"></i> <span class="font-bold" translate="aside.nav.TRANSPORT">Transport</span> </a>
    <div class="tabs-full-box">
      <div class="left-arrow"></div>
      <ul class="tabs">
        <li class="active" rel="tab5">Tractors</li>
        <li rel="tab6">Trailors</li>
        <li rel="tab7">Draeger </li>
        <li rel="tab8">FleetMatics</li>
      </ul>
      <div class="tab_container">
        <div id="tab5" class="tab_content">
          <h1>Tractors</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab6" class="tab_content">
          <h1>Trailors</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab7" class="tab_content">
          <h1>Draeger</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab8" class="tab_content">
          <h1>FleetMatics</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
      </div>
    </div>
  </li>
  <li id="customers" ui-sref-active="active"> <a ui-sref="app.widgets"> <b class="badge bg-success dk pull-right"></b> <i class="glyphicon glyphicon-th-large icon text-success"></i> <span class="font-bold" translate="aside.nav.ORDERS">Orders</span> </a>
    <div class="tabs-full-box">
      <div class="left-arrow"></div>
      <ul class="tabs">
        <li class="active" rel="tab9">Work orders</li>
        <li rel="tab10">Dispatch</li>
      </ul>
      <div class="tab_container">
        <div id="tab9" class="tab_content">
          <h1>Work orders</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab10" class="tab_content">
          <h1>Dispatch</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
      </div>
    </div>
  </li>
  <li id="customers" ui-sref-active="active"> <a ui-sref="app.widgets"> <b class="badge bg-success dk pull-right"></b> <i class="glyphicon glyphicon-th-large icon text-success"></i> <span class="font-bold" translate="aside.nav.INSIGHT">Insight</span> </a>
    <div class="tabs-full-box">
      <div class="left-arrow"></div>
      <ul class="tabs">
        <li class="active" rel="tab11">Performance </li>
        <li rel="tab12">Predictive analysis</li>
      </ul>
      <div class="tab_container">
        <div id="tab11" class="tab_content">
          <h1>Performances</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
        <div id="tab12" class="tab_content">
          <h1>Predictive analysis</h1>
          <p> This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
            This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. </p>
        </div>
      </div>
    </div>
  </li>
  <li id="customerslist" ui-sref-active="active"> <a ui-sref="app.customerlist"> <b class="badge bg-success dk pull-right"></b> <i class="glyphicon glyphicon-th-large icon text-success"></i> <span class="font-bold" translate="aside.nav.CUSTOMER_LIST">">Customer List</span> </a> </li>
  <li class="line dk"></li>
  
  <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components.ORDERS">Orders</span>
  </li>
  <li ng-class="{active:$state.includes('app.ui')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span translate="aside.nav.components.ui_kits.UI_KITS">Insight</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.ui_kits.UI_KITS">UI Kits</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.buttons">
          <span translate="aside.nav.components.ui_kits.BUTTONS">Buttons</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.icons">
          <b class="badge bg-info pull-right">3</b>
          <span translate="aside.nav.components.ui_kits.ICONS">Icons</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.grid">
          <span translate="aside.nav.components.ui_kits.GRID">Grid</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.bootstrap">
          <b class="badge bg-primary pull-right">16</b>
          <span translate="aside.nav.components.ui_kits.BOOTSTRAP">Bootstrap</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.sortable">
          <span translate="aside.nav.components.ui_kits.SORTABLE">Sortable</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.portlet">
          <span translate="aside.nav.components.ui_kits.PORTLET">Portlet</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.timeline">
          <span translate="aside.nav.components.ui_kits.TIMELINE">Timeline</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.jvectormap">
          <span translate="aside.nav.components.ui_kits.VECTOR_MAP">Vector Map</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.googlemap">
          <span>Google Map</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.table')}">
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="label bg-primary pull-right">2</b>
      <i class="glyphicon glyphicon-list"></i>
      <span translate="aside.nav.components.table.TABLE">Table</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.table.TABLE">Table</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.static">
          <span translate="aside.nav.components.table.TABLE_STATIC">Customer List</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.datatable">
          <span translate="aside.nav.components.table.DATATABLE">Datatable</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.footable">
          <span translate="aside.nav.components.table.FOOTABLE">Footable</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.form')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-edit"></i>
      <span translate="aside.nav.components.form.FORM">Form</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.form.FORM">Form</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.elements">
          <span translate="aside.nav.components.form.FORM_ELEMENTS">Form elements</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.validation">
          <span translate="aside.nav.components.form.FORM_VALIDATION">Form validation</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.wizard">
          <span translate="aside.nav.components.form.FORM_WIZARD">Form wizard</span>
        </a>
      </li>
    </ul>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.chart">
      <i class="glyphicon glyphicon-signal"></i>
      <span translate="aside.nav.components.CHART">Chart</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('app.page')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-file icon"></i>
      <span translate="aside.nav.components.pages.PAGES">Pages</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.components.pages.PAGES">Pages</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.profile">
          <span translate="aside.nav.components.pages.PROFILE">Profile</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.post">
          <span translate="aside.nav.components.pages.POST">Post</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.search">
          <span translate="aside.nav.components.pages.SEARCH">Search</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.invoice">
          <span translate="aside.nav.components.pages.INVOICE">Invoice</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.price">
          <span>Price</span>
        </a>
      </li>
      <li>
        <a ui-sref="lockme">
          <span translate="aside.nav.components.pages.LOCK_SCREEN">Lock screen</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signin">
          <span translate="aside.nav.components.pages.SIGNIN">Signin</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signup">
          <span translate="aside.nav.components.pages.SIGNUP">Signup</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.forgotpwd">
          <span translate="aside.nav.components.pages.FORGOT_PASSWORD">Forgot password</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.404">
          <span translate="aside.nav.components.pages.404">404</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success dk pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
    </a>
  </li>-->
</ul>
<!-- / third -->