﻿<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Customer List</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="panel panel-default" > 
    <!----- <div class="panel-heading">
          Responsive Table
        </div> ----->
        
    <div class="row wrapper">
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search"  data-ng-model="nameText">
          <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span> </div>
      </div>
      <div class="col-sm-6"> </div>
      <div class="col-sm-3 m-b-xs" style="text-align:right;">
        <label>Filter by &nbsp;</label>
     
        <select class="input-sm form-control w-sm inline v-middle" >
          <option value="0">More</option>
          <option value="1">Type</option>
          <option value="2">Status</option>
          <option value="3">Option 3</option>
        </select>
        
        
        <button class="btn btn-sm btn-default">Apply</button>
      </div>
    </div>
    <div class="table-responsive">
  

<div ng-controller="FormDemoCtrl">
   <table class="table table-bordered table-hover table-condensed">
      <thead>
          <tr>
            <th  ng-click="predicate='name'; reverse=true;">Name</th>
            <th ng-click="predicate='operatrename'; reverse=true;">Operator Name</th>
            <th ng-click="predicate='phone'; reverse=true;">Phone1</th>
            <th ng-click="predicate='phone2'; reverse=true;">Phone2</th>
            <th ng-click="predicate='address1'; reverse=true;">Address1</th>
            <th ng-click="predicate='phone2'; reverse=true;">Address2</th>
            <th ng-click="predicate='city'; reverse=true;">City </th>
            <th ng-click="predicate='Type'; reverse=true;">Type</th>
            <th ng-click="predicate='state'; reverse=true;">State</th>
            <th ng-click="predicate='zip'; reverse=true;">ZIP</th>
            <th ng-click="predicate='Status'; reverse=true;">Status</th>
            <th style="width:20px;">
                            <label class="i-checks m-b-none">
                            <span class="glyphicon glyphicon-minus"></span>
                           

                            </label>
                        </th>
                       
          </tr>
        </thead>
    <tr ng-repeat="customer in customers | filter:nameText :  customer.Status  | orderBy:predicate:reverse ">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
         
          {{customer.name  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.operatrename" e-name="operatrename" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.operatrename  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.phone" e-name="phone" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.phone  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.phone2" e-name="phone2" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.phone2  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.address1" e-name="address1" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.address1  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.address2" e-name="address2" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.address2  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.city" e-name="city" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.city  || 'empty' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-select="customer.Type" e-name="Type" e-form="rowform"  style="width: 100px;" e-ng-options="s.value as s.text for s in Types" >
          {{customer.Type }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.state" e-name="state" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.state  || 'empty' }}
        </span>
      </td>
        <td>
        <!-- editable username (text with validation) -->
        <span editable-text="customer.zip" e-name="zip" e-form="rowform" onbeforesave="checkName($data, customer.id)" e-required>
          {{customer.zip  || 'empty' }}
        </span>
      </td>
         <td>
        <!-- editable status (select-local) -->
        <span editable-select="customer.Status" e-name="Status" e-form="rowform"  style="width: 100px;" e-ng-options="s.value as s.text for s in statuses">
         {{customer.Status }}
        </span>
      </td>
        <!-- editable username (text with validation) -->
       

      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown"inserted== user">
        
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" ng-click="saveUser($data, customer.id)">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
         
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="deleteCustomer($index)">del</button>
        </div>  
      </td>
    </tr>
  </table>
</div>

          
    </div>
  </div>
</div>
