
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Add Customer</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="FormDemoCtrl" data-ng-init="init()">
    <div class="row">
      <div class="col-sm-12">
        <form name="myForm" class="form-validation">
          <div class="panel panel-default pull-left width-100">
            <div class="panel-heading"> <span class="h4">Register</span> </div>
            <div class="pull-left width-100">
              <div class="panel-body col-lg-6">
                <p class="text-muted">Please fill the information to continue</p>
                <div class="form-group">
                  <label>Customer Name <em class="text-muted">(allow 'a-zA-Z0-9', 4-10 length)</em></label>
                  <input type="text" class="form-control" data-ng-model="user.name"  nama="name" ng-pattern="/^[a-zA-Z0-9 ]{4,10}$/"  required >
                </div>
                <div class="form-group">
                  <label>Operator Name Alias</label>
                  <input type="text" class="form-control" data-ng-model="user.operatrename" required >
                </div>
                
                <div class="form-group">
                  <label>Operator Number </label>
                  <input type="text" class="form-control" placeholder="(XXX) XXXX XXX" data-ng-model="user.phone" ng-pattern="/^[0-9]{4,10}$/"  required>
                </div>
                <p>&nbsp;</p>
                <div style="border:2px solid #e6e6e6; padding: 10px 20px; border-radius:4px;">
                  <h4>Corporate</h4>
                  <div class="form-group">
                    <label>Address 1</label>
                    <input type="text" class="form-control" data-ng-model="user.address1" required>
                  </div>
                  <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" class="form-control" data-ng-model="user.address2" required>
                  </div>
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" data-ng-model="user.city" required=>
                  </div>
                  <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" data-ng-model="user.state" required="required">
                  </div>
                  <div class="form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" data-ng-model="user.zip" required="required">
                  </div>
                  <div class="form-group">
                    <label>Phone </label>
                    <input type="text" class="form-control" placeholder="(XXX) XXXX XXX" data-ng-model="user.phone2" data-ng-pattern="/^[0-9]{4,10}$/" required="required">
                  </div>
                </div>
              </div>
              <div class="panel-body col-lg-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label"><strong>Return to List</strong></label>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" style="margin-top:20px;">Type</label>
                  <div class="col-sm-9">
                    <select class="form-control m-t" data-ng-model="user.Type" >
                      <option value="">Please choose</option>
                      <option value="Producer">Producer</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" style="margin-top:20px;">Status</label>
                  <div class="col-sm-9">
                  
                    <select class="form-control m-t" data-ng-model="user.Status" required>
                      <option value="">Please choose</option>
                      <option value="Active">Active</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
             <label  title="" style="color: green; font-size: 20px;" ng-model="user.result">{{user.result}}</label>
              <button id="submitCustomer"   class="btn btn-success"  data-ng-click="insertCustomer()" >Add Customer</button>
              <!-- <button  class="btn btn-success"  data-ng-click="insertCustomer()" onclick="return false">Submit</button> --> 
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
